.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: $primary;
  color: black;
  z-index: 10;

  &:focus {
    left: 0;
  }
}

  .wrapper {

    .searchForm {
      text-align: center;
      height: 4rem;
      width: 100%;

      input {
        width: 70%;
        height: inherit;
        padding: 10px 10px 10px 20px;
        margin-right: 5px;
        font-size: 1.5rem;
        border-radius: 35px;
        border: none;
      }

      button {
        width: 4rem;
        height: inherit;
        padding: 10px;
        font-size: 1.5rem;
        border-radius: 4rem;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }

    p {
      text-align: center;
      font-size: calc(1.5 * $fontSize);
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      color: $fontColor;
    }

    div {
      margin: 50px 0;

      a {
        font-size: 1.5rem;
        color: $brightPurple;
        transition: 0.5s all;

        &:hover,
        &:focus {
          color: $darkPurple;
        }
      }
    }
  }

  .imgContainer {
    max-width: 100%;
    display: flex;
    margin-top: 0 auto;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: $fontColor;
      display: inline-block;
      font-size: 4rem;
      text-transform: uppercase;
      margin-right: 3.5rem;
    }

    .logo {
      max-width: 50%;
    }

    img {
      width: 100%;
    }
  }
  
