// display section
.results {
  ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 45px;

    li {
      background-color: rgba($color: $primary, $alpha: 0.4);
      box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin: 25px 0;
      padding-bottom: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $fontColor;

      &:hover .synopsisOverlay {
        bottom: 0;
        height: 100%;
      }

      div {
        margin: 15px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin: 3px;
          text-align: center;
          font-size: 1.5rem;
          margin-bottom: 15px;
        }

        a {
          font-size: 1.5rem;
          padding: 5px 10px;
          border: 1px solid red;
          margin: 3px;
          background-color: $mainColor;
          color: $fontColor;
          z-index: 100;
          transition: 0.5s all;

          &:hover,
          &:focus {
            background-color: $fontColor;
            color: $mainColor;
          }
        }
      }
    }

    .movieInfo {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .synopsisOverlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      overflow: hidden;
      width: 100%;
      height: 0;
      background-color: rgba(0, 0, 0, 0.5);
      transition: 0.7s ease;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .synopsisText {
      color: $fontColor;
      font-size: 1.2rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      position: absolute;
      text-align: center;
      padding: 10px;
      line-height: 1.4;
      overflow-y: scroll;
    }

  }
}