html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #333;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: #73c2FB;
  color: black;
  z-index: 10;
}
.skipLink:focus {
  left: 0;
}

.homeHeader {
  background-color: #333;
  padding: 20px;
}
.homeHeader .wrapper .flexBox {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.homeHeader .wrapper .flexBox h1 {
  color: #fff;
}
.homeHeader .wrapper .flexBox .imgContainer {
  max-width: 60%;
  width: 50%;
  top: 20%;
}
.homeHeader .wrapper .flexBox .imgContainer img {
  width: 50%;
}
.homeHeader .wrapper form {
  text-align: center;
}
.homeHeader .wrapper form input {
  width: 70%;
  padding: 10px;
}
.homeHeader .wrapper form button {
  width: 5%;
  padding: 10px;
}
.homeHeader .wrapper p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
.homeHeader .wrapper div {
  margin-top: 20px;
  text-align: center;
}
.homeHeader .wrapper div a {
  font-size: 1.5rem;
  color: #BF40BF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.homeHeader .wrapper div a:hover, .homeHeader .wrapper div a:focus {
  color: #702963;
}

.results ul {
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 45px;
}
.results ul li {
  background-color: #73c2FB;
  -webkit-box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 25px 0;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.results ul li div {
  margin: 15px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.results ul li div p {
  margin: 5px;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.results ul li div a {
  font-size: 1.5rem;
  padding: 5px 10px;
  border: 1px solid red;
  margin: 5px;
  background-color: #333;
  color: #fff;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.results ul li div a:hover, .results ul li div a:focus {
  background-color: #fff;
  color: #333;
}